//Library Styles
@import '../node_modules/node-reset-scss/scss/_reset.scss';
@import './mixin';
@import './components';


//Component Partial Styles

@import '../app/components/show-card/show-card';


//Layouts css
@import '../app/layout/layout';

//Directive partial styles
@import "../app/directives/taggle-directive/taggle";


//Pages Partial Styles

@import '../app/pages/guide/guide';

//General Styles
*{
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

html,body{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  height:100%;
  line-height:1.4;
  background: #fafafa;
}
app{
  .mdl-spinner{
    position: relative;
    @include centerElement();
  }
}

.avatar{
  margin: 0;
  width: 100%;
  opacity: .5;
}

.title{
  display: block;
  font-weight: 600;
  font-size: 18px;
  padding:20px 40px 0;
}

.waldo-float-btn {
  position: relative;
  background: #3fb8dc;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  overflow: hidden;
  color: #fff;

  .avatar-btn {
    position: absolute;
    max-width: 100%;
    z-index: 1;
    transition: opacity .2s ease;
    top: 0;
    left: 0;
    border-radius: 100%;
  }

  &:hover {
    .avatar-btn {
      opacity: 0;
    }
  }

  .material-icons {
    margin: 2px 0 0 5px;
  }

}

.mdl-textfield__input{
  border-color:#fff;
}

.mdl-textfield__label{
  color:#ccc;
  &:after {
    background-color: $hl-color;
  }
}

.dynamic-background{
  background-color: #fafafa;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  height: 100%;
  z-index: -1;
  will-change: transform;
  .background-color{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(14, 14, 12);
  }

  .background-images{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .background-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(14, 14, 12), rgba(14, 14, 12, 0)), linear-gradient(to right, rgb(14, 14, 12), rgba(14, 14, 12, 0));
  }

  .background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    @include transition(opacity 0.5s ease);
    &.show{
      opacity:1;
    }
  }

  .background-image-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 30vw;
    width: 60vw;
    pointer-events: none;
  }
}
