.guide-container{
  position:relative;
  height:100%;
  opacity: 1;
  @include transform(translateY(0%));
  @include transition(all ease .35s);
  &.search{
    @include transform(translateY(100px));
    .search-overlay{
      opacity: .4;
      z-index: 1000;
    }

  }
  &.opacity{
    opacity: 0 !important;
  }

  .search-overlay{
    position:fixed;
    width:100%;
    height: 100%;
    background: #111;
    top:0px;
    z-index: -1;
    opacity:0;
    @include transition(opacity ease .2s);
  }
  .guide-header{
    width:100%;
    height:60px;
    position: relative;;


    .date-time{
      display: inline-block;
      vertical-align: middle;
      line-height:60px;
      color:#fff;
      font-weight: 100;
      margin-left: 10px;
    }
  }
  .guide-grid{
    width:100%;
    height: 100%;
    height:100%;
    overflow: auto;
    padding:50px;
    @include flex();
    flex-wrap: wrap;
    .mdl-button{
      z-index: 1000;
      bottom:20px;
      right:20px;
      position: fixed;

      &.clear-search{
        bottom:86px;
      }
    }

    .show-groups {
      width: 100%;
      position: relative;
      max-width: 917px;
      @include transform(translateX(-50%));
      left:50%;
      margin-bottom: 100px;
    }

    .time-h1 {
      display: inline-block;
      margin-left: 10px;
      font-size: 32px;
      line-height: 4rem;
      border-bottom: 3px solid $accentcolor;
      margin-bottom: 40px;
      }

    .guide-grid-items{
      width: 100%;
      .guide-grid-item{
        width:209px;
        height: 209px;
        position: relative;
        margin:10px;
        display: inline-block;
      }
    }
  }
  .guide-details{
    width:40%;
    height:100%;
    opacity: 1;
    background-color: #111;
    background-size: cover;
    background-position: center;
    position:absolute;
    padding:20px;
    top:0;
    left:0;
    @include transition(all ease .35s);
    @include transform(translateX(0));
    .back-button{
      position: absolute;
      top:20px;
      left:20px;
      display: none;
      color:#fff;
      width:50px;
      height:50px;
      .material-icons{
        @include font-size(35px);
        @include centerElement();
        width: 30px;
        line-height: 50px;
      }
    }
    .guide-header{
      display:block;
    }

    &.opacity{
      opacity: 0 !important;
    }

    .next-details{
      .next-detail{
        @include font-size(15px);
        .next-label{
          font-weight: 400;
          text-align: right;
          width: 83px;
          display: inline-block;
          margin: 2px 10px 0 0;
        }

      }

    }

    .show-summary{
      position: absolute;
      @include centerElement();
      color:#fff;
    }

    .detail-info{
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      color:#fff;
      padding:20px;
      .detail-name{
        @include font-size(40px);
        font-weight: 300;
      }
      .detail-info-text{
        font-weight: 100;
      }
    }
  }

  /* General styles */

  .nav {
  	position: fixed;
  	width: 1rem;
  	margin: 0 0 0 3rem;
    right:8%;
    @include transform(translateY(-50%));
    top:50%;
    @include flex();
    flex-wrap:wrap;
  }

  .nav__item {
  	line-height: 1;
  	position: relative;
  	display: block;
  	margin: 0;
  	padding: 0;
  	letter-spacing: 0;
  	color: currentColor;
  	border: 0;
  	background: none;
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .nav__item:focus {
  	outline: none;
  }

  /*** Ubax ***/

  .nav--ubax .nav__item {
  	width: 10px;
  	height: 10px;
    margin:3px;
    background: #fff;
    border-radius: 100%;
  }

  .nav--ubax .nav__item::after {
  	position: absolute;
  	top: 2px;
  	left: 2px;
  	width: calc(100% - 4px);
  	height: calc(100% - 4px);
  	border: 2px solid transparent;
  	background: #fff;
    border-radius: 100%;
  }

  .nav--ubax .nav__item.nav__item--current {
  	z-index: 10;
  	background: $accentcolor !important;
    @include transition(transform 0.3s, background-color 0.3s, border-color 0.3s);
  }

  .nav--ubax .nav__item.nav__item:hover {
  	background: $accentcolor !important;
    @include transition( transform 0.3s, background-color 0.3s);

  }

  .nav--ubax .nav__item-title {
  	line-height: 1;
  	display: block;
  	padding: 0 1.2rem;
  	white-space: nowrap;
  	pointer-events: none;
  	opacity: 0;
    @include transform(translate3d(-20px,0,0));
    @include transition(transform 0.3s, opacity 0.3s);
    @include font-size(16px);
    position: absolute;
    z-index:1;
    top:-4px;
    color: #fff;
  }

  .nav--ubax .nav__item:hover .nav__item-title {
  	opacity: 1;
  	@include transform(translate3d(0,0,0));
  }

  .nav--zahi .nav__item {
  	width: 2rem;
  	height: 2rem;
  }

  .nav--zahi .nav__item::before,
  .nav--zahi .nav__item::after {
  	content: '';
  	position: absolute;
  }

  .nav--zahi .nav__item:not(:last-child)::before {
  	top: calc(2rem - 9px);
  	left: 5px;
  	width: 2px;
  	height: calc(2rem - 12px);
  	background: #98322a;
  }

  .nav--zahi .nav__item::after {
  	top: 50%;
  	left: 0;
  	width: 12px;
  	height: 12px;
  	margin: -5px 0 0 0;
  	border: 2px solid #98322a;
  	border-radius: 50%;
  	background: #f44336;
  	-webkit-transition: -webkit-transform 0.3s, border-color 0.3s, border-width 0.3s, background 0.3s;
  	transition: transform 0.3s, border-color 0.3s, border-width 0.3s, background 0.3s;
    box-sizing: border-box;
  }

  .nav--zahi .nav__item--current::after {
  	border-width: 1px;
  	border-color: #fff;
  	-webkit-transform: scale3d(1.6,1.6,1);
  	transform: scale3d(1.6,1.6,1);
  }

  .nav--zahi .nav__item:not(.nav__item--current):focus::after,
  .nav--zahi .nav__item:not(.nav__item--current):hover::after {
  	border-color: #fff;
  	background: #fff;
  }

  .nav--zahi .nav__item-title {
  	font-family: 'Roboto Condensed', sans-serif;
  	line-height: 1.5;
  	display: block;
  	position: relative;
  	padding: 0 0 0 2.5rem;
  	white-space: nowrap;
  	opacity: 0.3;
  	color: #98322a;
  	-webkit-transition: opacity 0.3s, color 0.3s;
  	transition: opacity 0.3s, color 0.3s;
  }

  .nav--zahi .nav__item:not(.nav__item--current):focus .nav__item-title,
  .nav--zahi .nav__item:not(.nav__item--current):hover .nav__item-title {
  	opacity: 0.5;
  }

  .nav--zahi .nav__item--current .nav__item-title {
  	opacity: 1;
  	color: #fff;
  }
}
