<div class="search-container" [class.search]="search" #searchEl>
  <form class="search-form" (submit)="search_show($event)" #searchForm>
    <input class="search-field" placeholder="Search shows..." (input)="typing(input)" #input/>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon" component-handler>
      <i class="material-icons" *ngIf="searching">search</i>
      <i class="material-icons" *ngIf="!searching">close</i>
    </button>
  </form>
</div>
<div class="guide-container" #guide [class.search]="search">
  <header class="guide-header">
    <div class="logo">
    </div>
    <span class="date-time">{{date}}</span>
  </header>
  <div class="search-overlay"></div>
  <section #detail class="guide-details" [ngStyle]="{'background-image': 'radial-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.81)
      ),url('+selectedshow?.image?.original+')'}">
      <button (click)="close_detail()" class="mdl-button mdl-js-button mdl-button--icon back-button" component-handler>
        <i class="material-icons" >arrow_backward</i>
      </button>
      <header class="guide-header">
        <div class="logo">
        </div>
        <span class="date-time">{{date}}</span>
      </header>
      <!--<div class="show-summary" [innerHTML]="selectedshow?.summary"></div>-->
      <div class="detail-info">
        <h1 class="detail-name">
          {{selectedshow?.showname}}
        </h1>
        <span class="detail-info-text" >
          {{selectedshow?.runtime}} min
        </span>
        <span class="detail-info-text" *ngIf="searchResults">
            | {{selectedshow?.status}}
        </span>
        <span class="detail-info-text" *ngIf="!searchResults">
          | Season {{selectedshow?.season}} | Episode {{selectedshow?.epsnumber}}
        </span>
        <ul class="next-details" *ngIf="searchResults && selectedshow?._embedded">
          <li class="next-detail">
            <span class="next-label">Next episode</span> {{selectedshow?._embedded.nextepisode.name}}
          </li>
          <li class="next-detail">
            <span class="next-label">Number:</span>  S{{selectedshow?._embedded.nextepisode.season}}Ep{{selectedshow?._embedded.nextepisode.number}}
          </li>
          <li class="next-detail">
            <span class="next-label">Airdate:</span> {{selectedshow?._embedded.nextepisode.airdate}} {{selectedshow?._embedded.nextepisode.airtime}}
          </li>
      </ul>

      </div>

  </section>
  <section class="guide-grid">
    <ul class="guide-grid-items">
      <li class="guide-grid-item" *ngFor="let show of shows" (click)="select_show(show)">
        <show-card [show]="show" ></show-card>
      </li>
    </ul>
    <button (click)="open_search()"  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" component-handler>
      <i class="material-icons">search</i>
    </button>

    <button (click)="clear_search()"  *ngIf="searchResults" class="clear-search mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" component-handler>
      <i class="material-icons">clear</i>
    </button>
  </section>
</div>
