<div class="guide-container" [class.search]="search">
  <loader [show]="loading" loader="guide"></loader>
  <div class="dynamic-background" [class.opacity]="!backgroundcolor">
    <div class="background-color" [ngStyle]="{'background-color':backgroundcolor}"></div>

    <div class="background-image-container" >
      <div class="background-images">
        <div class="background-image" *ngFor="let image of backgroundimages; let k = index" [class.show]="scroll_id == k" [ngStyle]="{'background-image':'url('+
        image +')'}"></div>
      </div>
      <div class="background-gradient" [ngStyle]="{'background':'linear-gradient(to top,'+ backgroundcolor +','+gradient+'), linear-gradient(to right, ' + backgroundcolor + ','+gradient+')'}"></div>
    </div>

  </div>

  <section class="guide-grid" #guide *ngIf="shows" (scroll)="scrolling($event)" [hidden]="!backgroundcolor">
    <div id="time_0" class="favorite-shows scroll-groups" *ngIf="user && favoritesToday">
      <h1 class="favorites-h1" [style.color]="fontcolor"><span>Favorite shows on today</span></h1>
      <ul class="guide-grid-items">
        <li class="guide-grid-item" *ngFor="let show of shows | filter:favorites">
          <show-card [favorites]="favorites" [show]="show" [fontcolor]="fontcolor" (detail)="goToDetail($event)" (watch)="watch($event)" (unwatch)="unwatch($event)"></show-card>
        </li>
      </ul>

    </div>
    <div id="time_{{favorites && favorites.length > 0 ? i+1 : i}}" class="show-groups scroll-groups" [style.margin-bottom]="(i == (airtimes.length - 1) && show.value.length < 4) ? '250px': '100px'" *ngFor="let show of shows | groupBy: 'airtime'; let i = index">
      <div class="show-groups-wrapper">
        <h1 class="time-h1" [style.color]="fontcolor">{{show.key}}</h1>
        <ul class="guide-grid-items">
          <li class="guide-grid-item" *ngFor="let show of show.value">
            <show-card [favorites]="favorites" [show]="show" [fontcolor]="fontcolor" (detail)="goToDetail($event)" (watch)="watch($event)" (unwatch)="unwatch($event)"></show-card>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="airtimes" [class.opacity]="!backgroundcolor">
    <!-- Slider main container -->
  <div class="swiper-container" swiperjs [scrollbar]="scrollbar">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" (click)="scrollView('time_'+j,j,time)" [class.active]="scroll_id == j" *ngFor="let time of airtimes; let j = index"><span class="time">{{time}}</span></div>
      </div>

       <div class="swiper-scrollbar" #scrollbar></div>
  </div>
  </footer>
</div>
