node_modules/

app/**/*.js
app/**/*.ngfactory.*
app/**/*.metadata.json
app/**/*.map
script/**/*.gz
script/**/*.js
npm-debug.log
css/

.idea/

typings/

.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.map
*.log
