.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
  .content{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 64px);
  }
  .mdl-layout__header{
    position: relative;
    z-index: 1;
    background-color: transparent;
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .logo{
      height: 30px;
      width: 120px;
      background: url(../images/logo.svg) no-repeat;
      background-size: contain;
      background-position: center;
      display: inline-block;
      vertical-align: middle;

    }
  }

}
