.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
  .content{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: -64px;
  }
  .mdl-layout__header{
    position: relative;
    z-index: 1;
    background-color: transparent;
    display: block;
    box-shadow: none;
    &.opaque{
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      search-dropdown{
        .form-select{
          .material-icons{
            color:#000 !important;
          }
          .search-dropdown-input{
            color:#000 !important;
          }
        }
      }
    }
    .mdl-navigation__link{
      color:#000;
    }

    .mdl-button--icon {
      font-size: 32px;
      height: 40px;
      min-width: 40px;
      width: 40px;
      .material-icons {
        position: absolute;
        @include centerElement('both');
        line-height: 32px;
        width: 32px;
        font-size: 32px;
      }

      &.sign-in-btn{
        width: auto;
        border-radius: 0;
        background: transparent;
        @include font-size(16px);
        .material-icons{
          position: relative;
          display: inline-block;
          @include font-size(16px);
          top: initial;
          left: initial;
          @include transform(none);
          vertical-align: middle;
          width: auto;
        }
        .sign-in-span{
          display: inline-block;
          vertical-align: middle;
          text-transform: none;
        }
      }
    }

    .material-icons{
      color:#fff;
    }

    .mdl-layout__header-row{
      padding:0 0 0 50px;
    }

    .mdl-navigation__link{
      opacity: 1;
      padding:0 8px;
      .material-icons{
        @include font-size(32px);
      }
    }

    .header-avatar{
      width: 32px;
      border-radius: 100%;
      vertical-align: middle;
      position: absolute;
      @include centerElement('both');
    }

    .mdl-menu__item{
      img{
        width: 17px;
        vertical-align: middle;
        margin-right: 5px;
      }

      .facebook-img{
        padding: 0 4px;
        width:auto;
        height: 17px;
      }

      .google-img{
        margin-right:10px;
      }
      span{
        vertical-align: middle;
      }
    }

    .logo{
      height: 30px;
      width: 120px;
      background-image: url(..images/logo.svg);
      background-size: contain;
      background-position: center;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      background-repeat: no-repeat;

    }
    .search-container{
      position: relative;
      width:60%;
      display: inline-block;
      text-align: center;
    }
    .mdl-layout-spacer{
      position: relative;
      text-align: center;

      .mdl-menu__container {
        width: 100% !important;
        right: auto !important;
        height:auto !important;
      }
      .mdl-menu {
        left: 0 !important;
        right: 0 !important;
        position: relative;
        background: #fff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      .mdl-menu__outline {
          width: 100% !important;
          height: 100% !important;
      }
    }
  }
  .mobile{
    display: none;
  }

  .mobile-nav {
    margin: 1em;
    position: fixed;
    bottom: 0px;
    right: 0;
    &.guide{
      bottom:95px;
    }
    &:hover {
      .buttons:not(:last-of-type) {
        width: 40px;
        height: 40px;
        margin: 15px auto 0;
        opacity: 1;
      }
      .rotate {
        background-image: url('http://goo.gl/0eJslQ');
        transform: rotate(0deg);
      }
    }
  }

  .buttons {
    @for $i from 2 through 6 {
      &:nth-last-of-type(#{$i}) {
        transition-delay: #{($i - 1) * 20ms};
      }
    }
    display: block;
    width: 35px;
    height: 35px;
    margin: 20px auto 0;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: .2s;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    &.exit{
      background:#DB4437;
    }
    &.home{
      background: #D2A518;
    }
    &.favorites{
      background:#aaa;
    }
    &:nth-last-of-type(1) {
      width: 56px;
      height: 56px;
      opacity: 1;
      background-color: #3C80F6;
    }
    &:hover {
      box-shadow: 0 0 4px rgba(0,0,0,.14),
      0 4px 8px rgba(0,0,0,.28);
    }
  }

  span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    &.rotate {
      background: #DB4437 url('http://goo.gl/EfgECT') center no-repeat;
      position: absolute;
      transform: rotate(90deg);
      transition: .3s;
    }
  }

  [tooltip]{
    &:before {
    content: attr(tooltip);
    background: #585858;
    padding: 5px 7px;
    margin-right: 10px;
    border-radius: 2px;
    color: #FFF;
    font: 500 12px Roboto;
    white-space: nowrap;
    position: absolute;
    bottom: 20%;
    right: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    }
    &:hover:before {
      visibility: visible;
      opacity: 1;
    }
  }

}
@media screen and (max-width: 1000px) {
  .main{
    .desktop{
      display:none;
    }
    .mobile{
      display:flex;
      padding:0 10px;
      .search-container{
        width:100%;
      }
    }
  }
}
