<main class="main">
  <div class="main-loader" [class.hide]="loader == false">
    <div class="img-container">
      <img class="loader-img" src="/images/loader.gif" />
      <img class="logo" src="/images/logo-light.svg" />
    </div>
  </div>
  <header class="mdl-layout__header" #header [class.opaque]='opaque'>
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <div class="logo" (click)="home()" [ngStyle]="{'background-image':'url('+ logo +')'}"></div>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer">
        <div class="search-container">
          <search-dropdown [shows]="results" [fontcolor]="fontcolor" (selected)="select_show($event)" (search)="search_term($event)"></search-dropdown>
        </div>
      </div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['/favorites']" *ngIf="user">
          <i class="material-icons" id="watch-icon" [style.color]="fontcolor">visibility</i>
          <div class="mdl-tooltip" data-mdl-for="watch-icon">View shows you are watching</div>
        </a>
        <a class="mdl-navigation__link" *ngIf="!user">
          <button component-handler id="header-login" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons" [style.color]="fontcolor">account_circle</i>
          </button>

          <ul component-handler class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="header-login">
            <li class="mdl-menu__item"  (click)="loginGoogle()"><img class="google-img" src="images/new-google-favicon.svg" /><span>Google</span></li>
            <li class="mdl-menu__item" (click)="loginFacebook()"><img class="facebook-img" src="images/social-facebook.png" /><span>Facebook</span></li>
          </ul>
        </a>
        <a class="mdl-navigation__link"  *ngIf="user">
          <button component-handler id="header-login" class="mdl-button mdl-js-button mdl-button--icon">
            <img class="header-avatar" [src]="user?.photoURL" />
          </button>

          <ul component-handler class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="header-login">
            <li class="mdl-menu__item" (click)="logout()"><span>Sign Out</span></li>
          </ul>
        </a>
      </nav>
    </div>
  </header>

 <!--<header class="guide-header">
   <div class="logo">
   </div>
   <span class="date-time">{{date}}</span>
 </header>
 <div class="search-overlay"></div>
 -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
