<main class="main">
  <header class="mdl-layout__header">
   <div class="mdl-layout__header-row">
     <!-- Title -->
     <span class="mdl-layout-title"> <div class="logo">
      </div></span>
     <!-- Add spacer, to align navigation to the right -->
     <div class="mdl-layout-spacer"></div>
     <!-- Navigation -->
     <nav class="mdl-navigation">
       <a class="mdl-navigation__link" href="">Link</a>
       <a class="mdl-navigation__link" href="">Link</a>
       <a class="mdl-navigation__link" href="">Link</a>
       <a class="mdl-navigation__link" href="">Link</a>
     </nav>
   </div>
 </header>

 <!--<header class="guide-header">
   <div class="logo">
   </div>
   <span class="date-time">{{date}}</span>
 </header>
 <div class="search-overlay"></div>
 -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
