<div class="show-card">
  <div class="show-image mdl-card mdl-shadow--2dp" [class.no-img]="!show.image" [ngStyle]="{'background-image':'url('+show.image?.original+')'}">

  </div>
  <div class="show-info-container">
    <p class="show-info name" [style.color]="fontcolor">{{show?.showname}}</p>
    <p class="show-info network"  [style.color]="fontcolor">{{show?.network}}</p>
    <p class="show-info"  [style.color]="fontcolor">S {{show?.season}} :  Ep {{show?.epsnumber}} . {{show?.epsname}}</p>
  </div>
</div>
